In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
filename = "../FASING.xlsx"
df = pd.read_excel(filename, sheet_name="YC")
company_name = os.path.splitext(os.path.basename(filename))[0]

In [5]:
df.head(5)

,D_0,Okres obrachunkowy,Accounting period,Unnamed: 3,01.98-12.98,01.99-12.99,01.00-12.00,01.01-12.01,01.02-12.02,01.03-12.03,...,01.15-12.15,01.16-12.16,01.17-12.17,01.18-12.18,01.19-12.19,01.20-12.20,01.21-12.21,01.22-12.22,01.23-12.23,01.24-12.24
0,L_1,Podstawowe informacje,Basic information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,D_BZ,Data bilansowa,End of period,NaN,1998-12-31,1999-12-31,2000-12-31,2001-12-31,2002-12-31,2003-12-31,...,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31,2020-12-31,2021-12-31,2022-12-31,2023-12-31,2024-12-31
2,D_BO,Początek,Start of period,NaN,1998-01-01,1999-01-01,2000-01-01,2001-01-01,2002-01-01,2003-01-01,...,2015-01-01,2016-01-01,2017-01-01,2018-01-01,2019-01-01,2020-01-01,2021-01-01,2022-01-01,2023-01-01,2024-01-01
3,R[PD_0],Przychody ze sprzedaży,Revenues from sales,NaN,61827,49407,60213,69394,66452,64879,...,256401.34871,174776,183287,213277,200537,153154.8268,203669.09302,249406.13601,293181.05531,266873.73621
4,R[WO_0],Zysk/strata z działalności operacyjnej,Operating profit/loss,NaN,-12664,-5751,2433,4784,4130,2844,...,15868.22803,8858,11917,31890,34221,15778.70209,12746.58059,13040.9644,38070.33301,25746.07749

In [6]:
df.columns

Index(['D_0', 'Okres obrachunkowy', 'Accounting period', 'Unnamed: 3',
       '01.98-12.98', '01.99-12.99', '01.00-12.00', '01.01-12.01',
       '01.02-12.02', '01.03-12.03', '01.04-12.04', '01.05-12.05',
       '01.06-12.06', '01.07-12.07', '01.08-12.08', '01.09-12.09',
       '01.10-12.10', '01.11-12.11', '01.12-12.12', '01.13-12.13',
       '01.14-12.14', '01.15-12.15', '01.16-12.16', '01.17-12.17',
       '01.18-12.18', '01.19-12.19', '01.20-12.20', '01.21-12.21',
       '01.22-12.22', '01.23-12.23', '01.24-12.24'],
      dtype='object')

In [7]:
df.shape

(318, 31)

In [8]:
df = df[['Accounting period', '01.23-12.23', '01.24-12.24']]

In [9]:
df = df.iloc[28:].reset_index(drop=True)

In [10]:
df.head(30)

,Accounting period,01.23-12.23,01.24-12.24
0,ASSETS,320415.00366,332665.56674
1,Non-current assets,141038.41775,146002.32675
2,"Property, plant and equipment",92493.11413,96539.06866
3,Exploration for and evaluation of mineral reso...,6876.21154,7932.46329
4,Intangible assets,2365.55944,2480.1646
5,Goodwill,NaN,NaN
6,Investment property,22776.89692,22400.96675
7,Right-of-use assets,14781.36047,14511.59265
8,Investment in affiliates,NaN,NaN
9,Non-current financial assets,NaN,NaN
10,Non-current loans and receivables,NaN,NaN
11,Deferred income tax,1361.862,1547.22059
12,Non-current deferred charges and accruals,NaN,NaN
13,Non-current derivative instruments,42.47711,NaN
14,Other non-current assets,340.93614,590.85021
15,Current assets,179376.58591,186663.23999
16,Inventories,91179.11195,99410.28376
17,Current intangible assets,NaN,NaN
18,Biological assets,NaN,NaN
19,Trade receivables,60352.09739,65581.8184
20,Loans and other receivables,318.83002,318.83001
21,Financial assets,0,350.25548
22,Cash and cash equivalents,13839.36478,10168.13984
23,Accruals,4985.37954,3675.46488
24,Assets from current tax,8628.98431,7041.03563
25,Derivative instruments,72.81792,117.41199
26,Other assets,NaN,NaN
27,Assets held for sale and discontinuing operations,NaN,NaN
28,Called up capital,NaN,NaN
29,Own shares,NaN,NaN

In [11]:
# renaming columns for easy reference 
df = df.rename(
    columns={
        'Accounting period':'Item',
        '01.22-12.22':'2022', 
        '01.23-12.23':'2023', 
        '01.24-12.24':'2024'
        }
    )

In [12]:
df = df.set_index('Item')

In [13]:
df.head()

                                                            2023          2024
Item
ASSETS                                              320415.00366  332665.56674
Non-current assets                                  141038.41775  146002.32675
Property, plant and equipment                        92493.11413   96539.06866
Exploration for and evaluation of mineral resou...    6876.21154    7932.46329
Intangible assets                                     2365.55944     2480.1646

In [14]:
df.index = (
    df.index.str.strip()              # remove extra spaces
            .str.lower()              # lowercase    
)

In [15]:
for item in df.index:
    print(item)

assets
non-current assets
property, plant and equipment
exploration for and evaluation of mineral resources
intangible assets
goodwill
investment property
right-of-use assets
investment in affiliates
non-current financial assets
non-current loans and receivables
deferred income tax
non-current deferred charges and accruals
non-current derivative instruments
other non-current assets
current assets
inventories
current intangible assets
biological assets
trade receivables
loans and other receivables
financial assets
cash and cash equivalents
accruals
assets from current tax
derivative instruments
other assets
assets held for sale and discontinuing operations
called up capital
own shares
nan
equity & liabilities
equity shareholders of the parent
share capital
called up share capital
treasury shares
supplementary capital
valuation and exchange differences
other capitals
retained earnings / accumulated losses
non-controlling interests
non-current liabilities
non-current liabilities from derivatives
non-current loans and borrowings
non-current liabilities from bonds
non-current liabilities from finance leases
non-current trade payables
long-term provision for employee benefits
deferred tax liabilities
non-current provision
other non-current liabilities
non-current accruals (liability)
current liabilities
liabilities from derivatives
financial liabilities (loans and borrowings)
bond liabilities
liabilities from finance leases
trade payables
employee benefits
current tax liabilities
provisions
other liabilities
accruals (liability)
liabilities related to assets held for sale and discontinued operations
date of publication
nan
incomes
accounting period
revenues from sales
revenues from sales of products and services
revenues from sales of goods
other revenues from core activities
cost of products sold
cost of products and services sold
cost of goods sold
gross profit/loss on sales
cost of sales
general and administrative costs
operating expenses (comparative)
profit/loss on sales
other operating revenues
other operating expenses
profit on non-financial assets
operating profit/loss
financial income
financial expenses
foreign exchange
net income on investments
extraordinary items
share in profit of associates and joint ventures
profit/loss before tax
income tax
other events and deductions from profit
share in profit of associated companies
net profit/loss from discontinued operations
net profit/loss
net profit/loss attributable to equity holders of the parent
net profit/loss attributable to non-controling interests
other comprehensive income, net
exchange differences
net income from valuation
cash flow hedges
actuarial gains/losses
other comprehensive income/expenses
share in other comprehensive income
deferred tax on other comprehensive income
total comprehensive income
total comprehensive income attributable to equity holders
total comprehensive income attributable to non-controlling interests
depreciation
interest accrued
operating expenses
deprecation (cost)
raw material costs
foreign service
taxes and surcharges
salaries
social security and other
other costs
cost of goods sold
date of publication
nan
cash flow
accounting period
cash flow from operating activities
financial result
share of profit of associates companies
depreciation
exchange differences from operating activities
interest and dividends from operating activities
net income from investments
net change in assets
income tax deferred
income tax paid
share-based payments
change in reserves
change in inventories
change in receivables
change in liabilities
change in accruals
change in other assets & liabilities
other adjustments
operating cash flow from discontinued operations
cash flow from investing activities
disposal of property, plant, equipment and intangible assets
purchase of property, plant, equipment and intangible assets
proceeds from disposal of shares in associates
purchase of shares in associates
proceeds from disposal of real estate
purchase of real estate
sale/maturity financial assets
purchase of financial assets
repayment of loans
loans granted
interest and dividends from investments
other investment cash flows
investment cash flows from discontinued operations
expenditure on research and development
cash flow from financing activities
issue of shares
purchase of own shares
debt securities issued
redemption of debt securities
credits and loans taken
payments of credits and loans taken
dividends to the shareholders of the parent
lease payments
other profit-sharing
interest from financial activities
other financing cash flow
financial cash flows from discontinued operations
net cash flow
exchange rate differences
balance sheet change in cash
cash opening balance
closing balance of cash
date of publication
nan
changes in equity
end of period
equity at the beginning of the period
share capital at the end of the period
share capital at the beginning of the period
increase of the share capital
decrease of the share capital
suplementary capital at the end of the period
suplementary capital at the beginning of the period
increase of the suplementary capital
decrease of the suplementary capital
capital from revaluation at the end of the period
capital from revaluation at the beginning of the period
increase of capital form revaluation
decrease of capital form revaluation
other comprehensive income
other reserve capitals at the end of the period
other reserve capitals at the beginning of the period
increase of other reserve capitals
decrease of other reserve capitals
retained earnings / accumulated losses at the end of the period
retained earnings at the beginning of the period
increase of retained earnings
decrease of retained earnings
accumulated losses at the beginning of the period
increase of accumulated losses
decrease of accumulated losses
other comprehensive income
net profil/loss
risk fund at the end of the period
risk fund at the beginning of the period
increase of the risk fund
decrease of the risk fund
treasury shares and the end of the period
treasury shares and the beginning of the period
treasury shares - increase
treasury shares - decrease
non-controlling interests at the end of the period
non-controlling interests at the beginning of the period
non-controlling interests - increase
non-controlling interests - decrease
other comprehensive income
equity at the end of the period
date of publication
nan
financial ratios
accounting period
gross profit margin on sales
operating profit margin
gross profit margin
net profit margin
return on equity (roe)
return on assets (roa)
working capital ratio
current ratio
quick ratio
cash ratio
receivables turnover
inventory turnover
the operating cycle
rotation commitments
cash conversion cycle
rotation assets
rotation of assets
assets ratio
debt ratio
debt service ratio
rate debt security
nan
dupont indicators
accounting period
return on equity (roe)
return on assets (roa)
leverage (em)
net profit margin
asset utilization (au)
load gross profit
load operating profit
operating profit margin
ebitda margin
nan
additional information
ebitda
current financial liabilities
non-current financial liabilities
financial liabilities (total)
nan
discriminative models
altman model
altman indicator
altman ranking
normalized ratio altman
appenzeller-szarzec model
appenzeller-szarzec indicator
appenzeller-szarzec ranking
normalized scale appenzeller-szarzec
mączyńska model
mączyńska indicator
mączyńska ranking
normalized scale of mączyńska
poznański model
poznański indicator
poznański ranking
normalized scale of the poznański model
tymoszuk model
tymoszuk indicator
tymoszuk ranking
normalized tymoszuk scale
zpang ine pan model
zpang ine pan indicator
zpang ine pan ranking
normalized scale zpang ine pan

In [16]:
def get_value_year(df, item_name, year):
    """
    Get the value from the dataframe at index=item_name and column=year.
    Returns None if missing or NaN.
    """
    try:
        val = df.loc[item_name, year]
        if pd.isna(val):
            return None
        return val
    except KeyError:
        return None

In [17]:
def non_current_assets_ratio_year(df, year):
    non_current_assets = get_value_year(df, 'non-current assets', year)
    total_assets = get_value_year(df, 'assets', year)
    if non_current_assets is not None and total_assets:
        return non_current_assets / total_assets
    return None

In [18]:
def current_assets_ratio_year(df, year):
    current_assets = get_value_year(df, 'current assets', year)
    total_assets = get_value_year(df, 'assets', year)
    if current_assets is not None and total_assets:
        return current_assets / total_assets
    return None

In [19]:
def equity_ratio_year(df, year):
    equity = get_value_year(df, 'equity shareholders of the parent', year)
    equity_and_liabilities = get_value_year(df, 'assets', year)
    if equity is not None and equity_and_liabilities:
        return equity / equity_and_liabilities
    return None

In [20]:
def non_current_liabilities_ratio_year(df, year):
    non_current_liabilities = get_value_year(df, 'non-current liabilities', year)
    equity_and_liabilities = get_value_year(df, 'assets', year)
    if non_current_liabilities is not None and equity_and_liabilities:
        return non_current_liabilities / equity_and_liabilities
    return None

In [21]:
def current_liabilities_ratio_year(df, year):
    current_liabilities = get_value_year(df, 'current liabilities', year)
    equity_and_liabilities = get_value_year(df, 'assets', year)
    if current_liabilities is not None and equity_and_liabilities:
        return current_liabilities / equity_and_liabilities
    return None

In [22]:
def gross_margin_year(df, year):
    gross_profit = get_value_year(df, 'gross profit/loss on sales', year)
    sales_revenue = get_value_year(df, 'revenues from sales', year)
    if gross_profit is not None and sales_revenue:
        return gross_profit / sales_revenue
    return None

In [23]:
def operating_margin_year(df, year):
    operating_profit = get_value_year(df, 'operating profit/loss', year)
    sales_revenue = get_value_year(df, 'revenues from sales', year)
    if operating_profit is not None and sales_revenue:
        return operating_profit / sales_revenue
    return None

In [24]:
def ebit_margin_year(df, year):
    profit_before_tax = get_value_year(df, 'profit/loss before tax', year)
    sales_revenue = get_value_year(df, 'revenues from sales', year)
    if profit_before_tax is not None and sales_revenue:
        return profit_before_tax / sales_revenue
    return None

In [25]:
def net_profit_margin_year(df, year):
    net_profit = get_value_year(df, 'net profit/loss', year)
    sales_revenue = get_value_year(df, 'revenues from sales', year)
    if net_profit is not None and sales_revenue:
        return net_profit / sales_revenue
    return None

In [26]:
def all_vertical_ratios_year(df, year):
    """
    Returns all ratios as a dictionary for the given year.
    """
    return {
        'Non-current Assets Ratio': non_current_assets_ratio_year(df, year),
        'Current Assets Ratio': current_assets_ratio_year(df, year),
        'Equity Ratio': equity_ratio_year(df, year),
        'Non-current Liabilities Ratio': non_current_liabilities_ratio_year(df, year),
        'Current Liabilities Ratio': current_liabilities_ratio_year(df, year),
        'Gross Margin': gross_margin_year(df, year),
        'Operating Margin': operating_margin_year(df, year),
        'EBIT Margin': ebit_margin_year(df, year),
        'Net Profit Margin': net_profit_margin_year(df, year)
    }

In [27]:
def all_vertical_ratios_df(df):
    """
    Calculates all vertical analysis ratios for all years (columns) in the dataframe.
    Returns a new DataFrame with ratios as rows and years as columns.
    """
    ratio_names = [
        'Non-current Assets Ratio',
        'Current Assets Ratio',
        'Equity Ratio',
        'Non-current Liabilities Ratio',
        'Current Liabilities Ratio',
        'Gross Margin',
        'Operating Margin',
        'EBIT Margin',
        'Net Profit Margin'
    ]
    
    # Prepare a dictionary to hold results per ratio
    results = {ratio: [] for ratio in ratio_names}
    
    # Loop through each year (column)
    for year in df.columns:
        ratios = all_vertical_ratios_year(df, year)
        for ratio in ratio_names:
            results[ratio].append(ratios.get(ratio, None))
    
    # Create the new DataFrame
    ratios_df = pd.DataFrame(results, index=df.columns).T
    
    return ratios_df

In [28]:
ratios_df = all_vertical_ratios_df(df)

In [29]:
ratios_df.head(10)

                                   2023      2024
Non-current Assets Ratio       0.440174  0.438886
Current Assets Ratio           0.559826  0.561114
Equity Ratio                   0.504839  0.527788
Non-current Liabilities Ratio  0.107091  0.043337
Current Liabilities Ratio      0.333668  0.372002
Gross Margin                   0.382303  0.391822
Operating Margin               0.129853  0.096473
EBIT Margin                    0.075467  0.075116
Net Profit Margin              0.057977  0.058245

In [30]:
def current_ratio_year(df, year):
    current_assets = get_value_year(df, 'current assets', year)
    current_liabilities = get_value_year(df, 'current liabilities', year)
    if current_assets is not None and current_liabilities:
        return current_assets / current_liabilities
    return None

def quick_ratio_year(df, year):
    current_assets = get_value_year(df, 'current assets', year)
    inventory = get_value_year(df, 'inventory', year)
    current_liabilities = get_value_year(df, 'current liabilities', year)
    if current_assets is not None and current_liabilities:
        if inventory is None:
            inventory = 0
        return (current_assets - inventory) / current_liabilities
    return None

def cash_holdings_ratio_year(df, year):
    cash_and_equivalents = get_value_year(df, 'cash and cash equivalents', year)
    total_assets = get_value_year(df, 'assets', year)
    if cash_and_equivalents is not None and total_assets:
        return cash_and_equivalents / total_assets
    return None

def working_capital_year(df, year):
    current_assets = get_value_year(df, 'current assets', year)
    current_liabilities = get_value_year(df, 'current liabilities', year)
    if current_assets is not None and current_liabilities is not None:
        return current_assets - current_liabilities
    return None

In [31]:
def all_liquidity_ratios_year(df, year):
    return {
        'Current Ratio': current_ratio_year(df, year),
        'Quick Ratio': quick_ratio_year(df, year),
        'Cash Holdings Ratio': cash_holdings_ratio_year(df, year),
        'Working Capital': working_capital_year(df, year)
    }

def all_liquidity_ratios_df(df):
    ratio_names = ['Current Ratio', 'Quick Ratio', 'Cash Holdings Ratio', 'Working Capital' ]
    
    results = {ratio: [] for ratio in ratio_names}
    
    for year in df.columns:
        ratios = all_liquidity_ratios_year(df, year)
        for ratio in ratio_names:
            results[ratio].append(ratios.get(ratio, None))
    
    liquidity_df = pd.DataFrame(results, index=df.columns).T
    
    return liquidity_df

In [32]:
liquidity_ratios_df = all_liquidity_ratios_df(df)

In [33]:
liquidity_ratios_df.head()

                             2023          2024
Current Ratio            1.677792      1.508362
Quick Ratio              1.677792      1.508362
Cash Holdings Ratio      0.043192      0.030566
Working Capital      72464.284300  62910.939800

In [34]:
def asset_turnover_ratio_year(df, year):
    revenue = get_value_year(df, 'revenues from sales', year) 
    total_assets = get_value_year(df, 'assets', year)
    if revenue is not None and total_assets:
        return revenue / total_assets
    return None

def days_to_sell_inventory_year(df, year):
    inventory = get_value_year(df, 'inventories', year)
    revenue = get_value_year(df, 'revenues from sales', year)
    if inventory is not None and revenue:
        return int(round((inventory * 360) / revenue))
    return None

def days_sales_outstanding_year(df, year):
    receivables = get_value_year(df, 'trade receivables', year) or get_value_year(df, 'accounts receivable', year)
    revenue = get_value_year(df, 'revenues from sales', year) or get_value_year(df, 'sales revenue', year)
    if receivables is not None and revenue:
        return int(round((receivables * 360) / revenue))
    return None

def days_payable_outstanding_year(df, year):
    payables = get_value_year(df, 'trade payables', year) or get_value_year(df, 'accounts payable', year)
    revenue = get_value_year(df, 'revenues from sales', year) or get_value_year(df, 'sales revenue', year)
    if payables is not None and revenue:
        return int(round((payables * 360) / revenue))
    return None

In [35]:
def all_activity_ratios_year(df, year):
    return {
        'Asset Turnover Ratio': asset_turnover_ratio_year(df, year),
        'Days to Sell Inventory': days_to_sell_inventory_year(df, year),
        'Days Sales Outstanding': days_sales_outstanding_year(df, year),
        'Days Payable Outstanding': days_payable_outstanding_year(df, year)
    }

def all_activity_ratios_df(df):
    ratio_names = ['Asset Turnover Ratio', 'Days to Sell Inventory', 'Days Sales Outstanding', 'Days Payable Outstanding']
    
    results = {ratio: [] for ratio in ratio_names}
    
    for year in df.columns:
        ratios = all_activity_ratios_year(df, year)
        for ratio in ratio_names:
            results[ratio].append(ratios.get(ratio, None))
    
    activity_df = pd.DataFrame(results, index=df.columns).T
    
    return activity_df

In [36]:
activity_df = all_activity_ratios_df(df)

In [37]:
activity_df

                                2023        2024
Asset Turnover Ratio        0.915004    0.802228
Days to Sell Inventory    112.000000  134.000000
Days Sales Outstanding     74.000000   88.000000
Days Payable Outstanding   67.000000   55.000000

In [38]:
def ebit_year(df, year):
    operating_income = get_value_year(df, 'operating profit/loss', year)
    depreciation = get_value_year(df, 'depreciation', year)
    if operating_income is not None and depreciation is not None:
        return operating_income + depreciation
    elif operating_income is not None:
        return operating_income
    return None

In [39]:
def return_on_sales_year(df, year):
    net_income = get_value_year(df, 'net profit/loss', year)
    revenue = get_value_year(df, 'revenues from sales', year) or get_value_year(df, 'sales revenue', year)
    if net_income is not None and revenue:
        return net_income / revenue
    return None

def return_on_assets_year(df, year):
    net_income = get_value_year(df, 'net profit/loss', year)
    total_assets = get_value_year(df, 'assets', year)
    if net_income is not None and total_assets:
        return net_income / total_assets
    return None

def return_on_equity_year(df, year):
    net_income = get_value_year(df, 'net profit/loss', year)
    equity = get_value_year(df, 'equity shareholders of the parent', year)
    if net_income is not None and equity:
        return net_income / equity
    return None

In [40]:
def all_return_ratios_year(df, year):
    return {
        'Return on Sales (ROS)': return_on_sales_year(df, year),
        'Return on Assets (ROA)': return_on_assets_year(df, year),
        'Return on Equity (ROE)': return_on_equity_year(df, year),
    }

def all_return_ratios_df(df):
    ratio_names = ['Return on Sales (ROS)', 'Return on Assets (ROA)', 'Return on Equity (ROE)']
    
    results = {ratio: [] for ratio in ratio_names}
    
    for year in df.columns:
        ratios = all_return_ratios_year(df, year)
        for ratio in ratio_names:
            results[ratio].append(ratios.get(ratio, None))
    
    return pd.DataFrame(results, index=df.columns).T

In [41]:
return_ratios_df = all_return_ratios_df(df)

In [42]:
return_ratios_df.head()

                            2023      2024
Return on Sales (ROS)   0.057977  0.058245
Return on Assets (ROA)  0.053049  0.046726
Return on Equity (ROE)  0.105081  0.088532

In [43]:

def debt_to_equity_year(df, year):
    current_liabilities = get_value_year(df, 'current liabilities', year) or 0
    non_current_liabilities = get_value_year(df, 'non-current liabilities', year) or 0
    total_liabilities = current_liabilities + non_current_liabilities

    equity = get_value_year(df, 'equity shareholders of the parent', year) or get_value_year(df, 'equity', year)
    if total_liabilities is not None and equity and equity != 0:
        return total_liabilities / equity
    return None

# Equity to Fixed Assets Ratio = Equity / Fixed assets
def equity_to_fixed_assets_year(df, year):
    equity = get_value_year(df, 'equity shareholders of the parent', year) or get_value_year(df, 'equity', year)
    fixed_assets = get_value_year(df, 'non-current assets', year)
    if equity is not None and fixed_assets and fixed_assets != 0:
        return equity / fixed_assets
    return None

# Interest Coverage Ratio = Operating income / Interest expenses
def interest_coverage_year(df, year):
    operating_income = get_value_year(df, 'operating profit/loss', year)
    interest_expenses = get_value_year(df, 'financial expenses', year) or get_value_year(df, 'finance costs', year)
    if operating_income is not None and interest_expenses and interest_expenses != 0:
        return operating_income / interest_expenses
    return None

# Return on Equity (ROE) = Net profit / Equity
def return_on_equity_year(df, year):
    net_income = get_value_year(df, 'net profit/loss', year)
    equity = get_value_year(df, 'equity shareholders of the parent', year) or get_value_year(df, 'equity', year)
    if net_income is not None and equity and equity != 0:
        return net_income / equity
    return None

# Corrected ROA = (Net profit + Interests * (1 + 0.19)) / Total assets
def corrected_roa_year(df, year):
    net_profit = get_value_year(df, 'net profit/loss', year)
    interests = get_value_year(df, 'financial expenses', year) or get_value_year(df, 'finance costs', year)
    total_assets = get_value_year(df, 'assets', year)
    
    if net_profit is not None and interests is not None and total_assets and total_assets != 0:
        return (net_profit + (+interests * (1 + 0.19))) / total_assets
    return None

# Equity Financial Leverage (EFL) = ROE - Corrected ROA
def efl_year(df, year):
    roe = return_on_equity_year(df, year)
    corr_roa = corrected_roa_year(df, year)
    if roe is not None and corr_roa is not None:
        return roe - corr_roa
    return None

# Aggregate all financial leverage ratios for a single year
def all_leverage_ratios_year(df, year):
    return {
        'Debt to Equity Ratio': debt_to_equity_year(df, year),
        'Equity to Fixed Assets Ratio': equity_to_fixed_assets_year(df, year),
        'Interest Coverage Ratio': interest_coverage_year(df, year),
        'Equity Financial Leverage (EFL)': efl_year(df, year)
    }

In [44]:
# Aggregate all financial leverage ratios for a single year
def all_leverage_ratios_year(df, year):
    return {
        'Debt to Equity Ratio': debt_to_equity_year(df, year),
        'Equity to Fixed Assets Ratio': equity_to_fixed_assets_year(df, year),
        'Interest Coverage Ratio': interest_coverage_year(df, year),
        'Equity Financial Leverage (EFL)': efl_year(df, year)
    }

# Build DataFrame with all years and all ratios
def all_leverage_ratios_df(df):
    ratio_names = [
        'Debt to Equity Ratio',
        'Equity to Fixed Assets Ratio',
        'Interest Coverage Ratio',
        'Equity Financial Leverage (EFL)'
    ]
    results = {ratio: [] for ratio in ratio_names}
    
    for year in df.columns:
        ratios = all_leverage_ratios_year(df, year)
        for ratio in ratio_names:
            results[ratio].append(ratios.get(ratio, None))
    
    return pd.DataFrame(results, index=df.columns).T

In [45]:
leverage_ratios = all_leverage_ratios_df(df)

In [46]:
leverage_ratios.head()

                                     2023      2024
Debt to Equity Ratio             0.873070  0.786944
Equity to Fixed Assets Ratio     1.146906  1.202562
Interest Coverage Ratio         -2.483574 -2.787714
Equity Financial Leverage (EFL)  0.108963  0.074843

In [47]:
# Put your four dataframes into these variables:
# leverage_df, liquidity_df, activity_df, profitability_df
# (rename if yours have different variable names)

def inspect_df(df, name):
    print(f"\n--- Inspecting: {name} ---")
    print("shape:", df.shape)
    print("columns:", list(df.columns))
    print("index sample (first 10):", list(df.index[:10]))
    print("\nhead:")
    display(df.head(6))        # Jupyter / Streamlit friendly
    print("\ninfo:")
    display(df.info())
    print("\nMissing values per column:")
    display(df.isnull().sum())
    print("\nDuplicate index names present?:", df.index.duplicated().any())
    print("\n---- end ----\n")

inspect_df(leverage_ratios, "leverage_df")

--- Inspecting: leverage_df ---
shape: (4, 2)
columns: ['2023', '2024']
index sample (first 10): ['Debt to Equity Ratio', 'Equity to Fixed Assets Ratio', 'Interest Coverage Ratio', 'Equity Financial Leverage (EFL)']

head:

                                     2023      2024
Debt to Equity Ratio             0.873070  0.786944
Equity to Fixed Assets Ratio     1.146906  1.202562
Interest Coverage Ratio         -2.483574 -2.787714
Equity Financial Leverage (EFL)  0.108963  0.074843

info:
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Debt to Equity Ratio to Equity Financial Leverage (EFL)
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2023    4 non-null      float64
 1   2024    4 non-null      float64
dtypes: float64(2)
memory usage: 96.0+ bytes

None

Missing values per column:

2023    0
2024    0
dtype: int64

Duplicate index names present?: False

---- end ----

In [48]:

inspect_df(liquidity_ratios_df, "liquidity_df")

--- Inspecting: liquidity_df ---
shape: (4, 2)
columns: ['2023', '2024']
index sample (first 10): ['Current Ratio', 'Quick Ratio', 'Cash Holdings Ratio', 'Working Capital']

head:

                             2023          2024
Current Ratio            1.677792      1.508362
Quick Ratio              1.677792      1.508362
Cash Holdings Ratio      0.043192      0.030566
Working Capital      72464.284300  62910.939800

info:
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Current Ratio to Working Capital
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2023    4 non-null      float64
 1   2024    4 non-null      float64
dtypes: float64(2)
memory usage: 96.0+ bytes

None

Missing values per column:

2023    0
2024    0
dtype: int64

Duplicate index names present?: False

---- end ----

In [49]:

inspect_df(activity_df, "activity_df")

--- Inspecting: activity_df ---
shape: (4, 2)
columns: ['2023', '2024']
index sample (first 10): ['Asset Turnover Ratio', 'Days to Sell Inventory', 'Days Sales Outstanding', 'Days Payable Outstanding']

head:

                                2023        2024
Asset Turnover Ratio        0.915004    0.802228
Days to Sell Inventory    112.000000  134.000000
Days Sales Outstanding     74.000000   88.000000
Days Payable Outstanding   67.000000   55.000000

info:
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Asset Turnover Ratio to Days Payable Outstanding
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2023    4 non-null      float64
 1   2024    4 non-null      float64
dtypes: float64(2)
memory usage: 96.0+ bytes

None

Missing values per column:

2023    0
2024    0
dtype: int64

Duplicate index names present?: False

---- end ----

In [50]:

inspect_df(ratios_df, "profitability_df")

--- Inspecting: profitability_df ---
shape: (9, 2)
columns: ['2023', '2024']
index sample (first 10): ['Non-current Assets Ratio', 'Current Assets Ratio', 'Equity Ratio', 'Non-current Liabilities Ratio', 'Current Liabilities Ratio', 'Gross Margin', 'Operating Margin', 'EBIT Margin', 'Net Profit Margin']

head:

                                   2023      2024
Non-current Assets Ratio       0.440174  0.438886
Current Assets Ratio           0.559826  0.561114
Equity Ratio                   0.504839  0.527788
Non-current Liabilities Ratio  0.107091  0.043337
Current Liabilities Ratio      0.333668  0.372002
Gross Margin                   0.382303  0.391822

info:
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, Non-current Assets Ratio to Net Profit Margin
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2023    9 non-null      float64
 1   2024    9 non-null      float64
dtypes: float64(2)
memory usage: 216.0+ bytes

None

Missing values per column:

2023    0
2024    0
dtype: int64

Duplicate index names present?: False

---- end ----

In [51]:
def prepare_ratios(df, company_name, category_name):
    # Make a copy so we don't modify the original
    df2 = df.copy()

    # Move the index (ratio names) into a column called "ratio_name"
    df2 = df2.reset_index().rename(columns={"index": "ratio_name"})

    # Add two new columns
    df2["company"] = company_name
    df2["category"] = category_name

    # Reorder columns: company | category | ratio_name | 2023 | 2024
    columns = ["company", "category", "ratio_name"] + [col for col in df2.columns if col not in ["company", "category", "ratio_name"]]
    df2 = df2[columns]

    return df2

In [52]:
import pandas as pd

def prepare_company_ratios(company_name, ratios_df, activity_df, liquidity_ratios_df, leverage_ratios):
    profitability_prepared = prepare_ratios(ratios_df, company_name, "profitability")
    activity_prepared = prepare_ratios(activity_df, company_name, "activity")
    liquidity_prepared = prepare_ratios(liquidity_ratios_df, company_name, "liquidity")
    leverage_prepared = prepare_ratios(leverage_ratios, company_name, "leverage")

    company_combined_df = pd.concat([
        leverage_prepared,
        liquidity_prepared,
        activity_prepared,
        profitability_prepared
    ], ignore_index=True)

    return company_combined_df

In [53]:
company_ratios = prepare_company_ratios(company_name, ratios_df, activity_df, liquidity_ratios_df, leverage_ratios)

In [54]:
company_ratios.head(20)

,company,category,ratio_name,2023,2024
0,FASING,leverage,Debt to Equity Ratio,0.873070,0.786944
1,FASING,leverage,Equity to Fixed Assets Ratio,1.146906,1.202562
2,FASING,leverage,Interest Coverage Ratio,-2.483574,-2.787714
3,FASING,leverage,Equity Financial Leverage (EFL),0.108963,0.074843
4,FASING,liquidity,Current Ratio,1.677792,1.508362
5,FASING,liquidity,Quick Ratio,1.677792,1.508362
6,FASING,liquidity,Cash Holdings Ratio,0.043192,0.030566
7,FASING,liquidity,Working Capital,72464.284300,62910.939800
8,FASING,activity,Asset Turnover Ratio,0.915004,0.802228
9,FASING,activity,Days to Sell Inventory,112.000000,134.000000
10,FASING,activity,Days Sales Outstanding,74.000000,88.000000
11,FASING,activity,Days Payable Outstanding,67.000000,55.000000
12,FASING,profitability,Non-current Assets Ratio,0.440174,0.438886
13,FASING,profitability,Current Assets Ratio,0.559826,0.561114
14,FASING,profitability,Equity Ratio,0.504839,0.527788
15,FASING,profitability,Non-current Liabilities Ratio,0.107091,0.043337
16,FASING,profitability,Current Liabilities Ratio,0.333668,0.372002
17,FASING,profitability,Gross Margin,0.382303,0.391822
18,FASING,profitability,Operating Margin,0.129853,0.096473
19,FASING,profitability,EBIT Margin,0.075467,0.075116

In [55]:
def save_company_ratios(df, company_name):
    filename = f"{company_name}_ratios.xlsx"
    if not os.path.exists(filename):
        df.to_excel(filename, index=False)
        print(f"Saved {filename}")
    else:
        print(f"File {filename} already exists. Skipping save.")

In [56]:
save_company_ratios(company_ratios, company_name)

Saved FASING_ratios.xlsx